h1{
    background-color: red;
    color: white;
    width: 25%;
    border: 2px solid red;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;

}

h1:hover{
    background-color: black;
    color: lightblue;
    border: 2px solid transparent;
}